/* ESERCIZIO 1  */
.ex-1-square {
    transition: background-color 1.5s;
}

.ex-1-square:hover {
    background-color: red;
}

/* ESERCIZIO 2  */
.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3  */
.ex-3-square {
    border-radius: 0;
    transition: border-radius 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4  */
.ex-4-square {
    opacity: 1;
    transition: opacity 1s;
}
.ex-4-square:hover {
    opacity: 0;
}

/* ESERCIZIO 5  */
.ex-5-square {
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}

/* ESERCIZIO 6  */
.ex-6-img:hover {
    filter: grayscale();
}

/* ESERCIZIO 7  */
.ex-7-img {
    transition: filter 1.5s;
}

.ex-7-img:hover {
    filter: grayscale(.5) sepia(.5);
}

/* ESERCIZIO 8  */
.ex-8-img {
    transition: all 1.5s;
    border-radius: 0;
}

.ex-8-img:hover {
    filter: grayscale(.5) sepia(.5);
    border-radius: 2rem;
}

/* ESERCIZIO 9  */
.ex-9-img {
    transition: all 1.5s;
    border-radius: 0;
    transform: scale(1);
}

.ex-9-img:hover {
    filter: grayscale(.5) sepia(.5);
    border-radius: 2rem;
    transform: scale(1.5);
}

/* ESERCIZIO 10  */
.ex-10-icon {
    animation-name: esercizio_10;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    transform: rotate(0deg);
}

@keyframes esercizio_10 {
    0% {
        transform: rotate(0deg);    
    }
    25% {
        transform: rotate(90deg);    
    }    
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

/* ESERCIZIO 11  */
.ex-11-icon:hover {
    animation-name: esercizio_11;
    animation-duration: 2s;
    animation-timing-function: linear;
    transform: rotate(0deg);
}

@keyframes esercizio_11 {
    0% {
        transform: rotate(0deg);    
    }
    20% {
        transform: rotate(72deg);    
    }    
    40% {
        transform: rotate(144deg);
    }
    60% {
        transform: rotate(216deg);
    }
    80% {
        transform: rotate(288deg);
    }
    
}

/* ESERCIZIO 12  */
.ex-12-button:hover .ex-12-top-white {
    animation-name: esercizio_12-top;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.ex-12-button:hover .ex-12-bottom-white {
    animation-name: esercizio_12-bottom;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes esercizio_12-top {
    50% {
        left: 69.5%;
    }
}

@keyframes esercizio_12-bottom {
    50% {
        right: 69%;
    }
}